.signin-section{
    max-width: 480px;
    margin: 10px auto;
}

.form-section{
    padding: 1rem;
    border: 1px solid rgb(75, 75, 226);
    border-radius: 1rem;
    margin-top: 1rem;
    
}
.signIn-form input {
    width: 100%;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 1rem;
}
.signIn-btn{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(10, 90, 238);
    color: white;
    font-weight: 600;
    border: 0.1rem solid rgb(10, 90, 238);
    border-radius: 0.5rem;
    margin-top: 0.3rem;
}