.our-core-value{
    padding: 16px;
    margin-top: -200px;
    background-color: #50591A;
    text-align: center;
}

.core-value-title{
    padding-top: 260px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #FCC14F;
    font-weight: bold;
    font-size: 2rem;
}
.core-values{
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.core-values>div:last-child{
    border-right: 0;
}