.offering-section{
    width: 100%;
    padding: 1.5rem;
}
.offering-top-section{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.btn-offering{
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 6px;
    font-weight: 600;
    border: 1px solid rgb(255, 196, 80);
    color: rgb(34, 34, 34);
    background-color: rgb(255, 196, 80);

}
.food-item-boxes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 1rem;
    margin-top: 2rem;
}